<div class="container">
  <ul>
    <li>
      <button class="item-menu">
        <div class="icon">
          <i class="material-icons">person</i>
        </div>

        <div class="menu">
          <span>Usuários</span>
        </div>
      </button>
    </li>

    <li> 
      <button class="item-menu">
        <div class="icon">
          <i class="material-icons">sms</i>
        </div>

        <div class="menu">
          <span>Chat</span>
        </div>
      </button>
    </li>

    <li>
      <button class="item-menu">
        <div class="icon">
          <i class="material-icons">poll</i>
        </div>

        <div class="menu">
          <span>Dashboard</span>
        </div>
      </button>
    </li>

    <li>
      <button class="item-menu">
        <div class="icon">
          <i class="material-icons">share</i>
        </div>

        <div class="menu">
          <span>Compartilhar</span>
        </div>
      </button>
    </li>
  </ul>
</div>