.form {
    width: 700px;
    height: 700px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px #b9b9b9;
    position: relative;
    top: 40px;
    left: 150px;

    h2 {
        text-align: center;
        margin: 12px 0 12px 0;
    }
}